<h1>Welcome to this scuffed ruby on rails playground</h1>

<p>This is basically just gonna be me farting about trying to figure stuff out as I go.
For the moment, most of this stuff will be plain text.</p>

<p>I have no idea how to properly deploy a website so this will be pretty much offline only.</p>

<h2>Navigation</h2>

<%= link_to "Info", welcome_about_path%>
<%= link_to "Hobbies", welcome_hobbies_path%>
<%= link_to "Pictures", welcome_pictures_path%>
<%= link_to "Articles", articles_new_path%>