<h1>Pictures</h1>

<p>Put some pictures here</p>

<%= image_tag("random.jpg", alt: "wtf is this picture")%>
<%= image_tag("500.jpg", alt: "kek")%>
<%= image_tag("404.jpg", alt: "lul")%>

<h2>Navigation</h2>

<%= link_to "Index", welcome_index_path%>